html, body {
  background: #eee;
  padding: 0;
  margin: 0;
}

#page-container {
  display: flex;
  padding: 0;
}

#page-container main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  background: #fff;
  padding: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
